# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
#your code here
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
#your code here
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### 3) See the first 10 entries

In [3]:
#your code here
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [4]:
#your code here
len(chipo)

4622

### 5) What is the number of columns in the dataset?

In [5]:
#your code here
len(chipo.columns)

5

### 6) Print the name of all the columns.

In [6]:
#your code here
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [7]:
#your code here
chipo["item_name"].value_counts().idxmax()

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [8]:
#your code here
chipo['item_name'].value_counts()[0]

C:\Users\surya\AppData\Local\Temp\ipykernel_84476\2579863178.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chipo['item_name'].value_counts()[0]

726

### 9) What was the most ordered item in the choice_description column?

In [9]:
#your code here
chipo["choice_description"].value_counts().idxmax()

'[Diet Coke]'

### 10) How many items were ordered in total?

In [10]:
#your code here
chipo["quantity"].sum()

4972

### 11) Turn the item price into a float

In [11]:
#your code here
chipo["item_price"] = chipo["item_price"].str.replace('[\$\,]','',regex=True).astype(float)
chipo

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\surya\AppData\Local\Temp\ipykernel_84476\390842851.py:2: SyntaxWarning: invalid escape sequence '\$'
  chipo["item_price"] = chipo["item_price"].str.replace('[\$\,]','',regex=True).astype(float)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [12]:
#your code here

(chipo["quantity"]*chipo["item_price"]).sum()

39237.02

### 13) How many orders were made in the period?

In [13]:
#your code here
chipo["order_id"].unique().max()

1834

### 14) What is the average revenue amount per order?

In [14]:
#your code here
(chipo["quantity"]*chipo["item_price"]).sum()/chipo["order_id"].unique().max()

21.39423118865867

### 15) How many different items are sold?

In [15]:
#your code here
len(chipo["item_name"].unique())

50