# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
df = pd.read_csv('chipotle.tsv', sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 3) See the first 10 entries

In [3]:
df[df.index < 10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [4]:
df.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
df.shape[1]

5

### 6) Print the name of all the columns.

In [6]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [7]:
df['item_name'].value_counts().idxmax()

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [8]:
df['item_name'].value_counts()[0]

/var/folders/ym/p6gqd77937bbw378sk66yjpm0000gn/T/ipykernel_8573/615108995.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['item_name'].value_counts()[0]

726

### 9) What was the most ordered item in the choice_description column?

In [9]:
df['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### 10) How many items were ordered in total?

In [10]:
len(df['choice_description'].unique())

1044

### 11) Turn the item price into a float

In [11]:
def convert_price(x):
  if isinstance(x, str) and x.startswith('$'):
    return float(x[1:])
  else:
    return x

df['item_price'] = df['item_price'].apply(convert_price)

df['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [12]:
sum(df.quantity*df.item_price)

39237.02

### 13) How many orders were made in the period?

In [13]:
len(df.order_id.unique())

1834

### 14) What is the average revenue amount per order?

In [14]:
df.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

### 15) How many different items are sold?

In [15]:
len(df['item_name'].unique())

50