# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

**The dataframe is of the form *.tsv* in the *GitHub* so If we will directly import it from the GitHub link it will be imported in some form <DOCType.html> so we will not be able to print our required dataframe.**

**To avoid this we make a raw copy of the dataframe from GitHub and upload it to drive and then we import the dataframe by mounting the drive**

In [25]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**The dataframe is saved as *chipotle.tsv*. We use the function of Pandas *read_table()* to read .tsv file.**

In [28]:
Chipo = pd.read_table('/content/drive/MyDrive/Colab Notebooks/chipotle.tsv')

### 3) See the first 10 entries

In [30]:
Chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [31]:
print(len(Chipo))

4622

### 5) What is the number of columns in the dataset?

In [32]:
print(len(Chipo.columns))

5

### 6) Print the name of all the columns.

In [33]:
print(Chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [38]:
print(Chipo['item_name'].value_counts().head(1))

item_name
Chicken Bowl    726
Name: count, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

In [39]:
print(Chipo['item_name'].value_counts().head(1)[0])

726

### 9) What was the most ordered item in the choice_description column?

In [40]:
print(Chipo['choice_description'].value_counts().head(1))

choice_description
[Diet Coke]    134
Name: count, dtype: int64

### 10) How many items were ordered in total?

In [41]:
print(Chipo['item_name'].value_counts().sum())

4622

### 11) Turn the item price into a float

In [50]:
Chipo['item_price'] = Chipo['item_price'].str.replace('$', '').astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [52]:
print(Chipo['quantity'].sum() * Chipo['item_price'].sum())

171534795.52

### 13) How many orders were made in the period?

In [53]:
print(len(Chipo['order_id'].unique()))

1834

### 14) What is the average revenue amount per order?

In [55]:
print(Chipo['item_price'].sum() / len(Chipo['order_id'].unique()))

18.811428571428575

### 15) How many different items are sold?

In [56]:
print(len(Chipo['item_name'].unique()))

50