# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [2]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [3]:
chipo=pd.read_csv("Chipotle.tsv",sep='\t')

### 3) See the first 10 entries

In [4]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4) What is the number of observations in the dataset?

In [5]:
print(chipo['order_id'].count())

4622

### 5) What is the number of columns in the dataset?

In [6]:
col_list = chipo.columns.to_list()
print(len(col_list))

5

### 6) Print the name of all the columns.

In [7]:
print(col_list)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### 7) Which was the most-ordered item?

In [8]:
print(chipo['item_name'][chipo.quantity.max()])

Chips and Tomatillo-Green Chili Salsa

### 8) For the most-ordered item, how many items were ordered?

In [9]:
print(chipo['quantity'].max())

15

### 9) What was the most ordered item in the choice_description column?

In [10]:
print(chipo['choice_description'][chipo.quantity.max()])

nan

### 10) How many items were ordered in total?

In [11]:
sum=0
for x in chipo['quantity']:
    sum=sum+x
print(sum)

4972

### 11) Turn the item price into a float

In [12]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [13]:
chipo1=chipo
chipo1['revenue'] = chipo['item_price'] * chipo['quantity']
print(chipo1['revenue'].sum())

39237.02

### 13) How many orders were made in the period?

In [14]:
print(chipo['order_id'].count())

4622

### 14) What is the average revenue amount per order?

In [15]:
print(chipo1['revenue'].mean())

8.48918649935093

### 15) How many different items are sold?

In [16]:
print(chipo['item_name'].nunique())

50