Importing the necessary libraries

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Reading the Dataset from URL

In [14]:
url='https://drive.google.com/uc?export=download&id=1VfCaU5vFVWsSYrvKQF2x9iS6I7KoWEVH'
df = pd.read_csv(url)
df.shape

(11275, 5)

In [15]:
df.head(10)

  ss_username  cf_username  cf_rating     cc_username  cc_rating
0    eldnahon        slime     3449.0  peehs_moorhsum     3007.0
1        jora          NaN        NaN             uwi     2906.0
2        lala          NaN        NaN          kal013     2756.0
3     wesnerm          NaN        NaN          wmoise     2696.0
4  grebnesieh   grebnesieh     1703.0      grebnesieh     2673.0
5   aurinegro    aurinegro     2202.0       aurinegro     2628.0
6   retrograd    retrograd     2262.0       retrograd     2628.0
7     chris19  anudeep2011     2023.0     anudeep2011     2565.0
8     adkroxx      adkroxx     1765.0         adkroxx     2561.0
9        ania         ania     2566.0           ania7     2526.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11275 entries, 0 to 11274
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ss_username  11275 non-null  object
 1   cf_username  11068 non-null  object
 2   cf_rating    7437 non-null   float64
 3   cc_username  10280 non-null  object
 4   cc_rating    10280 non-null  float64
dtypes: float64(2), object(3)
memory usage: 440.6+ KB

In [17]:
df.isnull().sum()

ss_username       0
cf_username     207
cf_rating      3838
cc_username     995
cc_rating       995
dtype: int64

Since there are many rows which have null values in their cc_rating/cf_rating colums.
We will make a new dataset which will consist only those rows which have only non-null values in both cc_rating & cf_rating column.
Then we will make a regression model out of it.
And with the help of this we will predict and fill the null values cc_rating and cf_rating columns of our original data set "df".

In [18]:
df_filtered = df[df['cc_rating'].notnull() & df['cf_rating'].notnull()]

In [19]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6442 entries, 0 to 10278
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ss_username  6442 non-null   object
 1   cf_username  6442 non-null   object
 2   cf_rating    6442 non-null   float64
 3   cc_username  6442 non-null   object
 4   cc_rating    6442 non-null   float64
dtypes: float64(2), object(3)
memory usage: 302.0+ KB

Making a Regression model for this filtered dataset

In [20]:
import numpy as np

# Extract the relevant columns
X = df_filtered['cc_rating'].values
y = df_filtered['cf_rating'].values

# Calculate the means of X and y
x_mean = np.mean(X)
y_mean = np.mean(y)

# Calculate the numerator and denominator of the slope
num = 0
den = 0
for i in range(len(X)):
  num += (X[i] - x_mean) * (y[i] - y_mean)
  den += (X[i] - x_mean)**2

# Calculate the slope and intercept
slope = num / den
intercept = y_mean - slope * x_mean

# Print the results
print("Slope:", slope)
print("Intercept:", intercept)

# Predict the cf_rating for a given cc_rating
def predict_cf_rating(cc_rating):
  return slope * cc_rating + intercept

# Example usage
predicted_cf_rating = predict_cf_rating(1000)
print("Predicted cf_rating for cc_rating 1000", predicted_cf_rating)

Slope: 0.8315620555789317
Intercept: -32.62926507315501
Predicted cf_rating for cc_rating 1000 798.9327905057767

Using this linear regression model improving our original dataset "df" by taking cc_rating as input and filling  the respective null values of cf_rating column of df dataset.

In [ ]:


import pandas as pd
def predict_cf_rating(cc_rating):
  return slope * cc_rating + intercept

for i in range(len(df)):
  if pd.isnull(df.loc[i, 'cf_rating']):
    df.loc[i, 'cf_rating'] = predict_cf_rating(df.loc[i, 'cc_rating'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11275 entries, 0 to 11274
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ss_username  11275 non-null  object
 1   cf_username  11068 non-null  object
 2   cf_rating    11275 non-null  float64
 3   cc_username  10280 non-null  object
 4   cc_rating    10280 non-null  float64
dtypes: float64(2), object(3)
memory usage: 440.6+ KB

Again, Using this linear regression model improving our original dataset "df" by taking cf_rating as input and filling  the respective null values of cc_rating column of df dataset.

In [ ]:


import pandas as pd
def predict_cc_rating(cf_rating):
  return (cf_rating - intercept) / slope

for i in range(len(df)):
  if pd.isnull(df.loc[i, 'cc_rating']):
    df.loc[i, 'cc_rating'] = predict_cc_rating(df.loc[i, 'cf_rating'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11275 entries, 0 to 11274
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ss_username  11275 non-null  object
 1   cf_username  11068 non-null  object
 2   cf_rating    11275 non-null  float64
 3   cc_username  10280 non-null  object
 4   cc_rating    11275 non-null  float64
dtypes: float64(2), object(3)
memory usage: 440.6+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11275 entries, 0 to 11274
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ss_username  11275 non-null  object
 1   cf_username  11068 non-null  object
 2   cf_rating    11275 non-null  float64
 3   cc_username  10280 non-null  object
 4   cc_rating    11275 non-null  float64
dtypes: float64(2), object(3)
memory usage: 440.6+ KB

MAking a regression model for df data set for cc_rating as input and cf_rating as a target.

In [ ]:

import numpy as np
# Calculate the means of X and y
x_mean = np.mean(X)
y_mean = np.mean(y)

# Calculate the numerator and denominator of the slope
num = 0
den = 0
for i in range(len(X)):
  num += (X[i] - x_mean) * (y[i] - y_mean)
  den += (X[i] - x_mean)**2

# Calculate the slope and intercept
slope = num / den
intercept = y_mean - slope * x_mean

# Define the regression model
def regression_model(cc_rating):
  return slope * cc_rating + intercept

# Print the model parameters
print("Slope:", slope)
print("Intercept:", intercept)

# Use the model to predict cf_rating for a given cc_rating
predicted_cf_rating = regression_model(1000)
print("Predicted cf_rating for cc_rating 1000:", predicted_cf_rating)

Slope: [0.83156206]
Intercept: [-32.62926507]
Predicted cf_rating for cc_rating 1000: [798.93279051]

Now we know the value of slope and intercept we can use this values to predict the rating of other plateform using rating of one.

Using these derived values of slope and intercept,
this model has been implemented of the website which in this same folder.
You can type your rating of one plateform there and predict the rating of another.