# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
#your code here
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [8]:
#your code here
#have to get the raw format of file
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv'
df = pd.read_csv(url , delimiter = '\t')

### 3) See the first 10 entries

In [9]:
#your code here
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [10]:
#your code here
df.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [13]:
#your code here
df.shape[1]

5

### 6) Print the name of all the columns.

In [19]:
#your code here
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [22]:
#your code here
df.groupby('item_name')['quantity'].sum().idxmax()

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [27]:
#your code here
df.groupby('item_name')['quantity'].sum().max()

761

### 9) What was the most ordered item in the choice_description column?

In [29]:
#your code here
df.groupby('choice_description')['quantity'].sum().idxmax()

'[Diet Coke]'

### 10) How many items were ordered in total?

In [28]:
#your code here
df['quantity'].sum()

4972

### 11) Turn the item price into a float

In [41]:
#your code here
df['item_price'] = df['item_price'].str.replace('$','').astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [44]:
#your code here
revenue = df['quantity']*df['item_price']
revenue.sum()

39237.02

### 13) How many orders were made in the period?

In [ ]:
df['order_id'].nunique()

### 14) What is the average revenue amount per order?

In [ ]:
#your code here
df['revenue'] = df['quantity']*df['item_price']
df.groupby('order_id')['revenue'].sum().mean()

### 15) How many different items are sold?

In [ ]:
#your code here
df['item_name'].nunique()