# Summer Analytics 2022 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



### 1) Import Pandas

In [ ]:
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

Use the following dataset
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [ ]:
users = pd.read_excel("C:\\Users\\jaspa\\OneDrive\\Desktop\\Pandas-Demo\\Data.xlsx", "Sheet1")
users.set_index('user_id',inplace=True)

### 3) Display the first 25 entries

In [ ]:
users.head(25)

### 4) Display the last 10 entries

In [ ]:
users.tail(10)

### 5) What is the number of observations in the dataset?

In [ ]:
users.count()
#or
users.shape[0]
#output: age 943 gender 943 occupation 943 zip_code 943
#it takes input as 0 bydefault that counts the objects along columns

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [ ]:
len(users.columns)
users.columns
#output: 4
#Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 7) What is the data type of each column?

In [ ]:
users.dtypes
#output: pandas.core.indexes.base.Index

### 8) Print only the occupation column

In [ ]:
users['occupation']

### 9) How many different occupations are in this dataset?

In [ ]:
users['occupation'].value_counts().count()

### 10) What is the most frequent occupation?

In [ ]:
users['occupation'].mode()
#output: 0 student

### 11) Summarize the DataFrame.

In [ ]:
users.describe()

### 12) Summarize only the occupation column

In [ ]:
users['occupation'].describe()
#output:
#count         943
#unique         21
#top       student
#freq          196
#Name: occupation, dtype: object

### 13) What is the mean age of users?

In [ ]:
df = users['age'].mean()
round(df,3)
# output: 34.052

### 14) What is the age with least occurrence?

In [ ]:
users['age'].value_counts().tail()