# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [2]:
#your code here
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [5]:
#your code here
url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv"
Chipo = pd.read_csv(url, sep='\t')
print(Chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### 3) See the first 10 entries

In [6]:
#your code here
print(Chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4) What is the number of observations in the dataset?

In [7]:
#your code here
num_observations = Chipo.shape[0]
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 4622

### 5) What is the number of columns in the dataset?

In [8]:
#your code here
num_columns = Chipo.shape[1]
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 5

 6) Print the name of all the columns.

In [10]:
#your code here
column_names = Chipo.columns
print("Name of all columns in the dataset:")
for column_name in column_names:
    print(column_name)

Name of all columns in the dataset:
order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

In [11]:
#your code here
item_quantities = Chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantities.idxmax()
print("Most-ordered item:", most_ordered_item)

Most-ordered item: Chicken Bowl

### 8) For the most-ordered item, how many items were ordered?

In [13]:
#your code here
quantity_ordered = item_quantities.loc[most_ordered_item]
print("Number of items ordered for the most-ordered item:", quantity_ordered)

Number of items ordered for the most-ordered item: 761

### 9) What was the most ordered item in the choice_description column?

In [15]:
#your code here
choice_quantities = Chipo.groupby('choice_description')['quantity'].sum()
most_ordered_choice = choice_quantities.idxmax()
print("Most-ordered choice:", most_ordered_choice)

Most-ordered choice: [Diet Coke]

### 10) How many items were ordered in total?

In [16]:
#your code here
total_items_ordered = Chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

### 11) Turn the item price into a float

In [17]:
#your code here
Chipo['item_price'] = Chipo['item_price'].str.replace('$', '').astype(float)
print("Data type of 'item_price' column after conversion:", Chipo['item_price'].dtype)

Data type of 'item_price' column after conversion: float64

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [18]:
#your code here
revenue = (Chipo['quantity'] * Chipo['item_price']).sum()
print("Total revenue for the period:", revenue)

Total revenue for the period: 39237.02

### 13) How many orders were made in the period?

In [19]:
#your code here
num_orders = Chipo['order_id'].nunique()
print("Number of orders made in the period:", num_orders)

Number of orders made in the period: 1834

### 14) What is the average revenue amount per order?

In [20]:
#your code here
order_revenue = Chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())
average_revenue_per_order = order_revenue.mean()
print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867

### 15) How many different items are sold?

In [21]:
#your code here
num_unique_items = Chipo['item_name'].nunique()
print("Number of different items sold:", num_unique_items)

Number of different items sold: 50