# Summer Analytics 2022 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



### 1) Import Pandas

In [16]:
#your code here
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

Use the following dataset
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [3]:
#your code here
url = " https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, delimiter='|').set_index('user_id')

### 3) Display the first 25 entries

In [4]:
#your code here
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 4) Display the last 10 entries

In [5]:
#your code here
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 5) What is the number of observations in the dataset?

In [6]:
#your code here
print(users.shape)

(943, 4)

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [7]:
#your code here
num_columns = users.shape[1]
column_names = users.columns.tolist()
print(f"Number of columns: {num_columns}")
print("Column names:", column_names)

Number of columns: 4
Column names: ['age', 'gender', 'occupation', 'zip_code']

### 7) What is the data type of each column?

In [8]:
#your code here
column_data_types = users.dtypes
print("Data types of each column:")
print(column_data_types)

Data types of each column:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [9]:
#your code here
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [10]:
#your code here
num_occupations = users['occupation'].nunique()
print("Number of different occupations:", num_occupations)

Number of different occupations: 21

### 10) What is the most frequent occupation?

In [11]:
#your code here
most_frequent_occupation = users['occupation'].value_counts().idxmax()
print("Most frequent occupation:", most_frequent_occupation)

Most frequent occupation: student

### 11) Summarize the DataFrame.

In [12]:
#your code here
summary = users.describe()
print(summary)

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### 12) Summarize only the occupation column

In [13]:
#your code here
occupation_summary = users['occupation'].value_counts()
print(occupation_summary)

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13) What is the mean age of users?

In [14]:
#your code here
mean_age = users['age'].mean()
print("Mean age of users:", mean_age)

Mean age of users: 34.05196182396607

### 14) What is the age with least occurrence?

In [15]:
#your code here
age_counts = users['age'].value_counts()
age_least_occurrence = age_counts.idxmin()
print("Age with least occurrence:", age_least_occurrence)

Age with least occurrence: 7