# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first graded assignment! Hope that you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We have got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [1]:
#your code here
# I have used import command to import numpy pandas and matplotlib
import numpy as np
import pandas as pd
import matplotlib as plt

### 2) Read the csv file and assign it to a variable .

In [3]:
#your code here
pokemon = pd.read_csv("W1_Pokemon.csv") # read_csv is used to read a csv file and i have assigned it to a variable pokemon
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [5]:
#your code here
# used .shape for finding the shape of the dataframe
pokemon.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [6]:
#your code here
# used .colums for printing the array containing the names of columns
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [39]:
#your code here
pokemon.drop(columns=['#'], inplace=True)

In [40]:
pokemon.columns

Index(['Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Comb type'],
      dtype='object')

### 6) Set the 'Name' column as the index of dataframe

In [21]:
#your code here
pokemon.set_index('Name', inplace=True)

In [22]:
pokemon

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###  7) Print a list of all the unique Type-1 powers

In [23]:
#your code here
unique_Type1 = pokemon['Type 1'].unique()
unique_Type1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [37]:
#your code here
pokemon['Comb type'] = pokemon['Type 1'] + '+' + pokemon['Type 2'].fillna('')
# here i have made an obervation that if first type exists and second type is NaN then
# a trailing + is remaining so to delete the trailling + symbol i am using this 
pokemon['Comb type'] = pokemon['Comb type'].str.rstrip('+')

psychic_flying_count = pokemon[pokemon['Comb type'] == 'Psychic+Flying'].shape[0]
psychic_flying_count

6

In [38]:
pokemon

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Comb type
Name,,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass+Poison
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass+Poison
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass+Poison
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass+Poison
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Rock+Fairy
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Rock+Fairy
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Psychic+Ghost
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Psychic+Dark
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Fire+Water

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [43]:
#your code here
count = pokemon.index.str.contains('Mega').sum()
count

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [44]:
#your code here
# .std() is used to measure standard deviation
std_spdef = pokemon['Sp. Def'].std()
std_spdef

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [45]:
#your code here
num_legendary = pokemon['Legendary'].sum()
total_pokemon = pokemon.shape[0]
legendary_percentage = (num_legendary / total_pokemon) * 100
legendary_percentage = round(legendary_percentage, 3)
legendary_percentage

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [47]:
#your code here
max_defense = pokemon['Defense'].max()
pokemon_with_max_defense = pokemon[pokemon['Defense'] == max_defense]
pokemon_with_max_defense_names = pokemon_with_max_defense.index.tolist()
pokemon_with_max_defense_names

['SteelixMega Steelix', 'Shuckle', 'AggronMega Aggron']

### 5. Which poison pokemon has the strongest attack ?

In [49]:
#your code here
poison_pokemon = pokemon[(pokemon['Type 1'] == 'Poison') | (pokemon['Type 2'] == 'Poison')]
max_attack = poison_pokemon['Attack'].max()
pok_with_max_atk = poison_pokemon[poison_pokemon['Attack'] == max_attack]
names_pok_with_max_atk = pok_with_max_atk.index.tolist()
names_pok_with_max_atk

['BeedrillMega Beedrill']

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [ ]:
#your code here

In [ ]:
#your code here

In [ ]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [60]:
#your code here

pokemon.reset_index(inplace=True)
ghost_pok_gen4 = pokemon[(pokemon['Generation'] == 4 ) & (pokemon['Legendary'] == False) & 
((pokemon['Type 1'] == 'Ghost') | (pokemon['Type 2'] == 'Ghost'))]
sort_ghost_pok_gen4 = ghost_pok_gen4.sort_values(by = 'Speed' , ascending = False)
second_fast_ghost_of_gen4 = sort_ghost_pok_gen4.iloc[1]
second_fast_ghost_of_gen4_name = second_fast_ghost_of_gen4['Name']
second_fast_ghost_of_gen4_name

'Mismagius'

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [61]:
#your code here
charizard_stats = pokemon[pokemon['Name'] == 'Charizard'][['Attack', 'Defense']].iloc[0]
charizard_attack = charizard_stats['Attack']
charizard_defense = charizard_stats['Defense']

# Filtering the  non-legendary Pokemon with stronger defense but weaker attack than Charizard
non_legendary_df = pokemon[(pokemon['Legendary'] == False) &
                              (pokemon['Defense'] > charizard_defense) &
                              (pokemon['Attack'] < charizard_attack)]

# i have Counted the number of such non-legendary Pokemon
non_legendary_count = non_legendary_df.shape[0]
non_legendary_count

116


## ***Bonus Questions***
## Here are some bonus questions that you can try further !

### These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [63]:
#your code here
pokemon['Attack_SpAtk'] = pokemon['Attack'] + pokemon['Sp. Atk']
highest_combined_pokemon = pokemon.loc[pokemon['Attack_SpAtk'].idxmax()]
highest_combined_pokemon['Name']

'RayquazaMega Rayquaza'

### Which type of legendary pokemons are the most common?

In [65]:
#your code here
legendary_pokemon = pokemon[pokemon['Legendary'] == True]
most_common_legendary_type = legendary_pokemon['Type 1'].mode().iloc[0]
most_common_legendary_type

'Psychic'

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [78]:
#your code here
weakest_gen6_legendary_hp = pokemon[(pokemon['Generation'] == 6) & (pokemon['Legendary'] == True)]['HP'].min()
gen3_non_legendary_higher_hp_count = pokemon[(pokemon['Generation'] == 3) & (pokemon['Legendary'] == False) & (pokemon['HP'] > weakest_gen6_legendary_hp)].shape[0]
gen3_non_legendary_higher_hp_count

95

### Print out the third slowest pokemon(s) in the dataset.

In [72]:
#your code here
sorted_pok = pokemon.sort_values(by='Speed')
third_slowest_speed = sorted_pok['Speed'].unique()[2]

third_slowest_pokemon = sorted_pok[sorted_pok['Speed'] == third_slowest_speed]
third_slowest_pokemon

,index,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Comb type,Attack_SpAtk
289,289,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Bug,60
651,651,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False,Grass+Poison,110
209,209,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False,Water+Ground,70
85,85,Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False,Water+Psychic,105
187,187,Cleffa,Fairy,NaN,218,50,25,28,45,55,15,2,False,Fairy,70
188,188,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Normal+Fairy,70
583,583,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False,Rock,100
291,291,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Bug,60
219,219,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False,Bug,100

### Which pokemon type has the highest average HP?

In [76]:
#your code here
average_hp_by_type = pokemon.groupby('Type 1')['HP'].mean()
highest_average_hp_type = average_hp_by_type.idxmax()
highest_average_hp_type

'Dragon'