# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [ ]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
import pandas as pd
df2=pd.read_csv(r'C:\Users\Shruti Sachan\Downloads\chipotle.tsv',sep='\t')
df2

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 3) See the first 10 entries

In [3]:
df2.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [4]:
df2.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
len(df2.columns)

5

### 6) Print the name of all the columns.

In [6]:
df2.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [8]:
item_counts=df2.groupby('item_name')['quantity'].sum()
most_ordereditem=item_counts.idxmax()
most_ordereditem

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [10]:
most_ordereditemcounts=item_counts.max()
most_ordereditemcounts

761

### 9) What was the most ordered item in the choice_description column?

In [12]:
choice_description=df2.groupby('choice_description')['quantity'].sum()
most_ordered=choice_description.idxmax()
most_ordered

'[Diet Coke]'

### 10) How many items were ordered in total?

In [13]:
df2['quantity'].sum()

4972

### 11) Turn the item price into a float

In [26]:
df2['item_price']=df2['item_price'].str.replace('$',' ').str.strip().astype(float)
df2.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [30]:
df2['revenue']=df2['quantity']*df2['item_price']
df2['revenue'].sum()

39237.02

### 13) How many orders were made in the period?

In [37]:
df2['order_id'].nunique()

1834

### 14) What is the average revenue amount per order?

In [14]:
df2['revenue']=df2['quantity']*df2['item_price']
df2['revenue'].mean

<bound method Series.mean of 0               $2.39
1               $3.39
2               $3.39
3               $2.39
4       $16.98 $16.98
             ...
4617           $11.75
4618           $11.75
4619           $11.25
4620            $8.75
4621            $8.75
Name: revenue, Length: 4622, dtype: object>

### 15) How many different items are sold?

In [31]:
df2['item_name'].nunique()

50