# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first graded assignment! Hope that you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We have got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [65]:
import pandas as pd

### 2) Read the csv file and assign it to a variable .

In [92]:

df = pd.read_csv("https://drive.google.com/uc?export=download&id=1n_WVE7ax4gomqDyLvDFUYh8kTGQG38uz")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [93]:
df.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [94]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [95]:
df.drop('#', axis=1, inplace=True)
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 6) Set the 'Name' column as the index of dataframe

In [96]:
df.set_index('Name', inplace=True)

In [97]:
df.columns

Index(['Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

###  7) Print a list of all the unique Type-1 powers

In [72]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [73]:

df['Type 1 + Type 2'] = df['Type 1'] + ' + ' + df['Type 2']

The DataFrame with new column is :-

In [74]:
df.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type 1 + Type 2
Name,,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass + Poison
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass + Poison
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass + Poison
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass + Poison
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN

In [75]:
df[(df['Type 1 + Type 2'] =='Psychic + Flying')].shape[0]

6

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [103]:
index_series = df.index.to_series()
rows_with_mega = index_series.str.contains('Mega', case=False, na=False).sum()
print(rows_with_mega)

50

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [106]:
std_dev = df['Sp. Def'].std()

print(std_dev)

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [111]:
value_counts = df['Legendary'].value_counts()

false_percentage = (value_counts[True] / len(df)) * 100

# Print the percentage with 3 decimal places
print(f"{false_percentage:.3f}%")

8.125%

### 4. Name the pokemon(s) with Maximum Defense.

In [120]:
df.columns

Index(['Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [113]:
maxpoke=df['Defence'].idxmax()
print(maxpoke)

KeyError: 'Defence'

### 5. Which poison pokemon has the strongest attack ?

In [80]:
#your code here

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [81]:
#your code here

In [82]:
#your code here

In [83]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [84]:
#your code here

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [85]:
#your code here


## ***Bonus Questions***
## Here are some bonus questions that you can try further !

### These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [86]:
#your code here

### Which type of legendary pokemons are the most common?

In [87]:
#your code here

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [88]:
#your code here

### Print out the third slowest pokemon(s) in the dataset.

In [89]:
#your code here

### Which pokemon type has the highest average HP?

In [90]:
#your code here