# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first graded assignment! Hope that you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We have got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**

**_Let's get started with importing numpy, pandas, seaborn and matplotlib!_**

Note - matplotlib should be imported with the command :

`import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries

For eg, "import numpy as np"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print("Setup complete!")

Setup complete!

### 2) Read the csv file and assign it to a variable .

In [3]:
pokemon = pd.read_csv('W1_Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 3) Display shape of dataframe

Expected Output - (800, 13)

In [4]:
pokemon.shape

(800, 13)

### 4) Print all columns of dataframe

Return an array containing names of all the columns.

In [5]:
pokemon.columns.values

array(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation',
       'Legendary'], dtype=object)

### 5) Remove the column '#' and update the dataframe.

In [6]:
pokemon.drop(columns='#',axis=1,inplace=True)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 6) Set the 'Name' column as the index of dataframe

In [7]:
pokemon.set_index('Name',inplace=True)
pokemon.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 7) Print a list of all the unique Type-1 powers

In [8]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [9]:
pokemon['combined_type'] = pokemon['Type 1'] + ' + ' + pokemon['Type 2']
pokemon.loc[pokemon.combined_type == 'Psychic + Flying']

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_type
Name,,,,,,,,,,,,
Natu,Psychic,Flying,320,40,50,45,70,45,70,2,False,Psychic + Flying
Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False,Psychic + Flying
Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,Psychic + Flying
Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False,Psychic + Flying
Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False,Psychic + Flying
Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False,Psychic + Flying

## GRADED Questions (To be answered in the quiz)

### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [10]:
pokemon[pokemon.index.str.contains('Mega')].shape[0]

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [11]:
pokemon['Sp. Def'].std()

27.82891579711746

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [12]:
legendary_num = pokemon[pokemon.Legendary == True].shape[0]
total_num = pokemon.shape[0]
round((legendary_num/total_num)*100,ndigits=3)

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [13]:
# Cannot directly access first pokemon because there might be multiple with the same defense
max_defense = pokemon.Defense.max()
pokemon.loc[pokemon.Defense == max_defense].index.values

array(['SteelixMega Steelix', 'Shuckle', 'AggronMega Aggron'],
      dtype=object)

### 5. Which poison pokemon has the strongest attack ?

In [14]:
# Have to consider both type 1 and type 2 columns for the search
pokemon[((pokemon['Type 1'] == 'Poison') | (pokemon['Type 2'] == 'Poison'))].sort_values('Attack',ascending=False).iloc[0,:]

Type 1                    Bug
Type 2                 Poison
Total                     495
HP                         65
Attack                    150
Defense                    40
Sp. Atk                    15
Sp. Def                    80
Speed                     145
Generation                  1
Legendary               False
combined_type    Bug + Poison
Name: BeedrillMega Beedrill, dtype: object

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [15]:
#your code here

In [16]:
#your code here

In [17]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [18]:
condition = (pokemon['Type 1'] == 'Ghost') & (pokemon['Generation'] == 4) & (pokemon['Legendary'] == False)
second_highest_speed = pokemon.loc[condition].Speed.sort_values(ascending=False).unique()[1]
pokemon.loc[condition & (pokemon.Speed == second_highest_speed)]

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_type
Name,,,,,,,,,,,,
Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False,Ghost + Flying

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [19]:
charizard = pokemon.loc["Charizard"]
char_attack,char_defense = charizard.Attack, charizard.Defense
condition = (pokemon.Attack < char_attack) & (pokemon.Defense > char_defense) & (pokemon.Legendary == False)
pokemon.loc[condition].shape[0]

116

## **_Bonus Questions_**

## Here are some bonus questions that you can try further !

### These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [20]:
pokemon.loc[(pokemon['Attack']+pokemon['Sp. Atk']).idxmax()]

Type 1                    Dragon
Type 2                    Flying
Total                        780
HP                           105
Attack                       180
Defense                      100
Sp. Atk                      180
Sp. Def                      100
Speed                        115
Generation                     3
Legendary                   True
combined_type    Dragon + Flying
Name: RayquazaMega Rayquaza, dtype: object

### Which type of legendary pokemons are the most common?

In [21]:
count_1 = pokemon.loc[pokemon['Legendary'] == True]['Type 1'].value_counts()
count_2 = pokemon.loc[pokemon['Legendary'] == True]['Type 2'].value_counts()
count_1.add(count_2,fill_value=0).idxmax()

'Psychic'

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [22]:
least_hp = pokemon.loc[(pokemon.Generation == 6) & (pokemon.Legendary)].HP.min()
pokemon.loc[(pokemon.HP > least_hp) & (~pokemon.Legendary) & (pokemon.Generation == 3)].shape[0]

95

### Print out the third slowest pokemon(s) in the dataset.

In [23]:
third_lowest_speed = pokemon.Speed.sort_values().unique()[2]
pokemon.loc[pokemon.Speed == third_lowest_speed]

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,combined_type
Name,,,,,,,,,,,,
Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False,Water + Psychic
Cleffa,Fairy,NaN,218,50,25,28,45,55,15,2,False,NaN
Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Normal + Fairy
Wooper,Water,Ground,210,55,45,45,25,25,15,2,False,Water + Ground
Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False,NaN
Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,NaN
Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,NaN
Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False,NaN
Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False,Grass + Poison

### Which pokemon type has the highest average HP?

In [24]:
type1_mean = pokemon.groupby('Type 1').HP.mean().fillna(0)
type2_mean = pokemon.groupby('Type 2').HP.mean().fillna(0)
(type1_mean+type2_mean).idxmax()

'Dragon'