# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

We will be importing the libraries but since it is incovenient to write the entire name again and again we will give allias

In [2]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

.tsv is extension for Table seperated values so we will use read_table another way could to use indirect approach , in use read_csv only ut change the delimeter to tab from comma

In [3]:
df = pd.read_table("chipotle.tsv")

### 3) See the first 10 entries

By default .head() shows first 5 col but for customising we can pass parameter explicitly

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

df.shape gives the row and col size , when row and col are multiplied it gives total num of observations

In [5]:
num_obs =df.shape[0]*df.shape[1]
print(num_obs)

23110

### 5) What is the number of columns in the dataset?

In [6]:
col = df.shape[1]
print(col)

5

### 6) Print the name of all the columns.

In [7]:
for i in df.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

First will make group based on item_name item name , then will add the quantities together and find out the max out of it and print the name corresponding to it

In [9]:
df.groupby('item_name')['quantity'].sum().idxmax()

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [10]:
df.groupby('item_name')['quantity'].sum().max()

761

### 9) What was the most ordered item in the choice_description column?

In [11]:
df.groupby('choice_description')['quantity'].sum().idxmax()

'[Diet Coke]'

### 10) How many items were ordered in total?

In [12]:
df["quantity"].sum()

4972

### 11) Turn the item price into a float

lstrip removes the specified parameter from the left

In [13]:
df['item_price'] = df['item_price'].str.lstrip("$").astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [15]:
revenue = df['quantity']*df['item_price']
revenue.sum()

39237.02

### 13) How many orders were made in the period?

In [16]:
df['quantity'].sum()

4972

### 14) What is the average revenue amount per order?

In [17]:
df['revenue'] = df['quantity']*df['item_price']
df.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

### 15) How many different items are sold?

In [18]:
df['item_name'].nunique()

50